/*
</div>

      <div class="cards">
        <div class="card">
          <img src="images/shanghai.jpeg" alt="Prokbun Shanghai">
          <h3>Shanghai</h3>
        </div>

        <div class="card">
          <img src="images/paris.jpeg" alt="Prokbun Paris">
          <h3>Paris</h3>
        </div>

        <div class="card">
          <img src="images/rio.jpeg" alt="Prokbun Rio">
          <h3>Rio</h3>
        </div>

        <div class="card">
          <img src="images/rio.jpeg" alt="Prokbun Rio">
          <h3>Rio</h3>
        </div>

      </div>

      */

.card {
  padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 6px;
    margin: 10px;
    flex-basis: 250px;
    flex-grow: 1;


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScaUCCHNQwDZo2og72LqI-vH1MTF7mO3dYgd_ws3TRl9ZZ01g/viewform?embedded=true" width="1425" height="736" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
